// Used for click event
#about,
#specialization {
    // scroll-margin-top: -2rem;
}

// TODO: Move to global
.viewing-about-text {
    box-shadow: inset 0 0 100vw 100vh #ffffff90 !important;
}

.transition-section {
    height: 0 !important;
}

.img-parallax {
    // width: 100vmax;
    // z-index: -1;
    position: absolute;
    // top: 0;
    // left: 50%;
    // transform: translate(-50%, 0);
    // pointer-events: none
    width: 100%;
    height: 100%;
    object-fit: cover;
    // transform: translateY(0) scale(1.2);
    // transform: translate3d(0, 0, 0) scale(1);
    transform: translateY(0) scale(1);
    z-index: 1;
}

.about .container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: unset; // Previously was 80vw
    height: 100vh;
    padding: 0 20vw;

    .about-heading {
        svg, p {
            z-index: 2;

        }
    }

    background: url("https://cdn.discordapp.com/attachments/872089222356545566/872090804208939089/555_fam_001_compressed.jpg") no-repeat center fixed;
    background-color: $theme-dark-background-color;
    box-shadow: inset 0 0 100vw 100vh #ffffff98;
    background-size: cover !important; // TODO: Uncomment this
    // border-radius: 10rem;
    transition: all .6s ease-in-out;

    @media all and (max-width: $screen_sm) {
        flex-direction: column;

        &.about-section {
            height: auto;
        }
    }

    .about-heading {
        text-align: center;
        text-transform: uppercase;
        line-height: 0;
        margin-bottom: 6rem;
        color: $theme-color;


        // TODO: NEED TO DOUBLE CHECK
        @media all and (max-width: $screen_md_2) {

            // nav-list is used for the about's social media icons too
            .nav-list {
                flex-direction: row;
            }

            li {
                margin: 0 2rem;
            }
        }

        svg {
            mix-blend-mode: overlay;
        }

        h1 {
            z-index: -1;
            font-size: 28rem;
            /* Neumorphism Theme */
            // TODO:  make the color like the curse
            color: $theme-h1-color;

            // https://stackoverflow.com/questions/58133329/how-to-use-css-backdrop-filter-on-text
            // backdrop-filter: grayscale(1);

            @media all and (max-width: $screen_md_1) {
                font-size: 8rem;
            }
        }

        h6 {
            z-index: 1 !important;
            font-family: monospace;
            color: $theme-font-color;
            font-size: 4rem;
            font-weight: 300;
            margin-top: .45rem;

            @media all and (max-width: $screen_md_2) {
                font-size: 3rem;
                margin-top: .3rem;
            }
        }
    }

    p {
        text-align: justify;
        font-weight: 300;

        @media all and (max-width: $screen_sm) {
            padding: 0 2rem;
            line-height: 1.6;
            padding: 0 auto;
        }
    }

    .about-social-media {

        i {
            font-size: 3rem;
            transition: color .2s;
            margin: 60% 1rem 0 1rem;
            // opacity: .6;
            color: $media-icon-color;

            // /*  Neumorphism Theme */
            // box-shadow: $neumorphism-box-shadow;

            @media all and (max-width: $screen_sm) {
                /* margin-top: 100%; */
                margin: 100% 0 0 0;
                /* width: 4rem; */
            }
        }

        i:hover {
            opacity: 1;
            transition: all 0.7s ease-in-out;
        }
    }
}