/*Start event*/
// TODO: Simplify the scss for enkr1 too
.event {
    picture.event-bg-picture {
        position: absolute;

        img {
            height: 100vh !important;
            width: 100vw !important;
            object-fit: fill;
        }
    }

    // background: url("/images/backgrounds/black_brick_wall.png") no-repeat center fixed;
    background-color: white;
    height: 100vh !important;
    width: 100%;

    .container {
        padding: 10vh 5vw;
    }

    @media all and (max-width: $screen_sm) {
        .section-heading {
            padding-bottom: 0 !important;
        }
    }

    .event-item {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        height: 80vh;
        width: 90vw;
        cursor: grab;

        &:active {
            cursor: grabbing;
        }

        @media all and (max-width: $screen_sm) {
            align-items: unset !important;
            flex-direction: column !important;
        }

        &:hover {

            // NOTE: There is a space between & and the class!
            & .event-content {
                & .event-title {
                    transform: translateY(0);
                }

                & .event-description {
                    transform: translateY(0);
                }
            }
        }

        picture.event-img-div {
            transition: all 2s ease;

            // Only apply to screen bigger than 769px
            @media all and (min-width: $screen_sm + 1) {
                // ...
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;

                /*  Neumorphism Theme */
                // TODO: Set to variable
                // box-shadow: 0px 0px 29px -5px rgba(255, 255, 255, 0.5);

            }
        }

        .event-content {
            bottom: 0;
            position: absolute;
            padding: 3rem 2rem;
            width: 80vw;
            display: flex;
            flex-direction: row;

            // nav bar shows
            @media all and (max-width: $screen_md_2) {
                flex-direction: column !important;
            }


            .event-title,
            .event-description {
                flex: 50%;
                transition: all .6s ease-in-out;

                // NOTE: Apply once screen meets 992 and below
                @media all and (max-width: $screen_md_2) {
                    transform: translateY(0) !important;
                }
            }

            .event-title {
                mix-blend-mode: difference;
                font-size: 6rem;
                font-weight: 300;
                -webkit-text-stroke: 2px white;
                margin: 1rem 0;
                // -webkit-text-stroke-color: $theme-color;
                transform: translateY(-100vh);

                // NOTE: Apply once screen meets 992 and below
                @media all and (max-width: $screen_md_2) {
                    font-size: 4rem;
                }
                // NOTE: Apply once screen meets 768 and below
                @media all and (max-width: $screen_sm) {
                    font-size: 2rem;
                    -webkit-text-stroke: 1px white;
                }
            }


            .event-description {
                padding: 2rem;
                text-align: right;
                background-color: rgba(0, 0, 0, 0.6);
                transform: translateY(50vh);

                @media all and (min-width: $screen_sm + 1) {
                    // ...
                }

                // nav bar shows
                @media all and (max-width: $screen_md_2) {
                    text-align: left;
                }

                // NOTE: Apply once screen meets 768 and below
                @media all and (max-width: $screen_sm) {
                    // For debugging purpose only, remove it later.
                    // margin: 34rem;
                    // order: 2;
                }

                .event-date {
                    mix-blend-mode: exclusion;
                    color: #dadada;
                    // color: transparent;
                    // -webkit-text-stroke: 1px $theme-color;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    font-weight: 300;
                    opacity: .6;
                }

                p {
                    color: rgb(255, 255, 255);
                    text-align: justify;
                    direction: rtl;

                    @media all and (max-width: $screen_md_2) {
                        direction: ltr;
                    }
                }

                a {
                    // direction: rtl;
                    // @media all and (max-width: $screen_md_2) {
                    // }
                }
            }
        }
    }

}

.event-description .cta,
.cta {
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: $theme-light-color;

    @media all and (max-width: $screen_sm) {
        margin-bottom: 2rem;
    }
}

.event-description .cta:hover,
.cta:hover {
    color: $theme-color;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 650ms;

    &.view-more-btn {
        box-shadow: $neumorphism-box-shadow;
        width: fit-content;
        padding: 1rem 2rem;
        border-radius: 1rem;
        margin: auto;
    }
}

/*End event*/