/*Start footer*/
.main-footer {
    width: 100%;
    text-align: center;
    background-color: $theme-dark-color-2;
    padding: .5% 0 4rem 0;
    position: relative;

    p {
        color: white;

        // Just for the ENKR
        a:hover {
            color: $theme-light-color !important;
        }
    }

    @media all and (max-width: $screen_md_1) {
        padding-bottom: 5rem;
    }

    @media all and (max-width: $screen_md_2) {
        padding-bottom: 6.6rem;
    }

    .footer-nav-container {
        display: flex;
        flex-direction: row;
        padding: 1rem 1rem 5rem 1rem;

        @media all and (max-width: $screen_md_2) {
            flex-direction: column;
        }

        div {
            flex: 1;
            padding: 1rem;
        }
    }

    .contact-social-media {

        p,
        h6 {
            color: $theme-color;
            font-size: 1.8rem;
            text-transform: uppercase;
        }

        ul.contact-social-media-ul {
            margin: 0 auto 2% auto;

            @media all and (max-width: $screen_md_2) {
                text-align: center;
                display: flex;
                justify-content: space-evenly;
                margin: 2rem auto;
            }

            li {
                margin: 0 1rem;

                @media all and (max-width: $screen_md_2) {
                    display: inline-block;
                    margin: unset;
                }

                .icon-link {

                    @media all and (max-width: $screen_md_2) {
                        margin: 0 2rem;
                    }

                    img {
                        width: 3em !important;
                    }

                }
            }
        }
    }

}

.up {
    mix-blend-mode: luminosity;
    position: fixed;
    height: 5rem;
    width: 5rem;
    background-color: $theme-color;
    opacity: .8;
    top: 89vh;
    right: 3%;
    border-radius: 100%;
    display: none;
    cursor: pointer;
    /* animation: pulse 2s infinite; */
    z-index: 500;

    /*  Neumorphism Theme */
    box-shadow:
        0px 0px 20px -1px rgba(110, 110, 110, 0.4);

    @media all and (max-width: $screen_sm) {
        height: 4rem;
        width: 4rem;
        top: 91vh;
        right: 5vw;
    }

    i {
        color: $theme-dark-color-2;
        font-size: 2rem;
        margin: 1.3rem auto;

        @media all and (max-width: $screen_sm) {
            font-size: 1.8rem;
            margin-top: 1rem;
        }

    }

    &:hover {
        transform: scale(.95);
        /* Neumorphism */
        box-shadow:
            0px 0px 20px 0px rgba(110, 110, 110, 0.6);
        transition: all .5s ease-in-out;
    }
}

.main-footer p {
    letter-spacing: 0.6px;
    font-size: 1.2rem;
}

.visitcount {
    top: 0;
    margin-top: 1rem;
    transform: translate(0, 1%);
    pointer-events: none;
    display: none;
}

/*End footer*/