// Normal
@font-face {
    font-family: 'hansonLight';
    src: url('/fonts/hanson-hairline-webfont.woff2') format('woff2'),
        url('/fonts/hanson-hairline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Bold
@font-face {
    font-family: 'hansonBold';
    src: url('/fonts/hanson-bold-webfont.woff2') format('woff2'),
        url('/fonts/hanson-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}