#lesson {
    // ...

    .container {
        // ...

        .section-heading {
            h1 {}
        }

        a {
            margin: 0 !important;
        }

        .lesson-swiper {
            width: 100%;

            .swiper-slide {
                width: auto;
                height: 100%;


                // NOTE: Apply once screen meets 768 and below
                // @media all and (max-width: $screen_sm) {
                //     width: 80%;
                // }

                picture {
                    img {
                        height: 70vh;
                        width: fit-content;
                        border: 2px solid $theme-color;
                        object-fit: contain;

                        // NOTE: Apply once screen meets 768 and below
                        @media all and (max-width: $screen_sm) {
                            // height: auto !important;
                        }

                    }
                }
            }
        }
    }
}